.letterbox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #4b5563;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;

    height: 3rem;
    width: 3rem;
}

.miss {
    background: #212833;
}

.present {
    background: #ffcc00;
    color: #000000;
}

.match {
    background: #01c282;
    color: #000000;
}