.letterbox {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #4b5563;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: bold;

    height: 3rem;
    width: 3rem;
}

.miss {
    background: #374151;
}

.present {
    background: #ffcc00;
}

.match {
    background: #00cc88;
}